<main class="form-signin">
  <form [formGroup]="loginForm">
    <img
      class="mb-4"
      src="../../assets/login.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 fw-normal">Lütfen giriş yapın</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Mail adresi</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Parola</label>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="submit()"
      [disabled]="loginForm.invalid"
    >
      Giriş Yap
    </button>
  </form>
</main>
